[Unit]
Description=Astra Bugsink
After=network-online.target
Wants=network-online.target

[Service]
StandardOutput=null
StandardError=null
EnvironmentFile=/etc/astra/bugsink.env
ExecStartPre=-/usr/bin/podman rm -f astra-bugsink
ExecStart=/usr/bin/podman run --rm --name astra-bugsink --log-driver=journald --env-file /etc/astra/bugsink.env -v /etc/astra/bugsink_conf.py:/app/bugsink_conf.py:ro,Z -p 127.0.0.1:8080:8080 ${BUGSINK_IMAGE}
ExecStop=/usr/bin/podman stop -t 10 astra-bugsink
Restart=always
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target
