APP_IMAGE=ghcr.io/almalinux/astra:latest
SECRET_KEY=...
ALLOWED_HOSTS=127.0.0.1,astra.almalinux.org
DJANGO_AUTO_MIGRATE=0
DJANGO_MIGRATE_RETRIES=10
DJANGO_SETTINGS_MODULE=config.settings

FREEIPA_HOST=ipa02.....almalinux.org
FREEIPA_VERIFY_SSL=false
FREEIPA_SERVICE_USER=...
FREEIPA_SERVICE_PASSWORD=...
FREEIPA_ADMIN_GROUP=astra-admins
FREEIPA_FILTERED_USERNAMES='bind-openproject,bind-mattermost,bind-matomo,bind-keycloak'

DATABASE_URL=postgresql://...@....rds.amazonaws.com:5432/postgres

AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=....
AWS_STORAGE_BUCKET_NAME=...
AWS_S3_REGION_NAME=us-east-1
#AWS_S3_ENDPOINT_URL=https://almalinux-astra.s3.us-east-1.amazonaws.com
AWS_S3_DOMAIN=https://static.astra.almalinux.org
AWS_S3_ADDRESSING_STYLE=virtual

PUBLIC_BASE_URL=https://astra.almalinux.org

SELF_SERVICE_ADDRESS_COUNTRY_ATTR=st
#SELF_SERVICE_ADDRESS_COUNTRY_ATTR=c
#DEBUG=1
MEMBERSHIP_EMBARGOED_COUNTRY_CODES='CU,IR,KP,MM,RU,SY,VE'

AWS_SES_ACCESS_KEY_ID=...
AWS_SES_SECRET_ACCESS_KEY=....
AWS_SES_CONFIGURATION_SET=astra

SENTRY_DSN=https://...@....sentry.io/...
