[Unit]
Description=Run Astra queued email sender frequently

[Timer]
OnBootSec=30s
OnUnitActiveSec=10s
AccuracySec=1s
Persistent=true
Unit=astra-send-queued-mail.service

[Install]
WantedBy=timers.target
