{% comment %}
Internal helper for core/_expiry_and_termination_actions.html.

Expected context:
- expiry_modal_id: str
- expires_input_id: str

Either:
- user + membership
or:
- organization + sponsorship

Optional:
- next_url
{% endcomment %}

{% load tz %}

{% if membership %}
  {% url 'membership-set-expiry' user.username membership.membership_type.code as expiry_action_url %}
  {% url 'membership-terminate' user.username membership.membership_type.code as terminate_action_url %}
  {% with modal_title="Manage membership" expiry_label="Expiration date" terminator=user.username membership_type_name=membership.membership_type.name expiry_value=membership.expires_at current_text_suffix="" %}
    {% include 'core/_expiry_and_termination_actions_shared.html' %}
  {% endwith %}
{% endif %}

{% if organization %}
  {% url 'organization-sponsorship-set-expiry' organization.pk sponsorship.membership_type.code as expiry_action_url %}
  {% url 'organization-sponsorship-terminate' organization.pk sponsorship.membership_type.code as terminate_action_url %}
  {% with modal_title="Manage membership" expiry_label="Expiration date" terminator=organization.name membership_type_name=sponsorship.membership_type.name expiry_value=sponsorship.expires_at current_text_suffix=" (UTC)" %}
    {% include 'core/_expiry_and_termination_actions_shared.html' %}
  {% endwith %}
{% endif %}
