{% load static %}

<script src="{% static 'core/vendor/codemirror/codemirror.min.js' %}"></script>
<script src="{% static 'core/vendor/codemirror/xml.min.js' %}"></script>
<script src="{% static 'core/vendor/codemirror/javascript.min.js' %}"></script>
<script src="{% static 'core/vendor/codemirror/css.min.js' %}"></script>
<script src="{% static 'core/vendor/codemirror/htmlmixed.min.js' %}"></script>
<script src="{% static 'core/vendor/codemirror/overlay.min.js' %}"></script>

<script src="{% static 'core/vendor/codemirror/lint.js' %}"></script>
<script src="{% static 'core/vendor/htmlhint/htmlhint.min.js' %}"></script>
<script src="{% static 'core/vendor/codemirror/html-lint.js' %}"></script>

<script src="{% static 'core/js/templated_email.js' %}"></script>
<script src="{% static 'core/js/templated_email_compose_init.js' %}"></script>
