{% load core_user_widget %}
{% load core_group_widget %}
{% load core_organization_widget %}

{% if title %}
  <h3 class="mb-3">{{ title }}</h3>
{% endif %}

{% for item in grid_items %}
  {% if forloop.first %}<div class="row">{% endif %}
  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
    {% if item.kind == "organization" %}
      {% organization item.organization %}

    {% elif item.kind == "group" %}
      {% group item.cn %}

    {% else %}
      {% user item.username remove_from_group_cn=item.remove_from_group_cn promote_to_sponsor=item.promote_to_sponsor class=item.extra_class style=item.extra_style %}
    {% endif %}
  </div>
  {% if forloop.last %}</div>{% endif %}
{% empty %}
  <div class="text-muted">{{ empty_label }}</div>
{% endfor %}

<div class="mt-2 clearfix">
  {% include "core/_pagination.html" %}
</div>
