{% extends 'core/base.html' %}

{% load django_vite static %}

{% block title %}Verify ballot receipt{% endblock %}

{% block header %}<h1 class="m-0">Verify ballot receipt</h1>{% endblock %}

{% block extra_head %}
  {% vite_hmr_client %}
  {% vite_asset 'src/entrypoints/ballotVerify.ts' %}
{% endblock %}

{% block content %}
  <div
    data-ballot-verify-root
    data-ballot-verify-api-url="{% url 'api-ballot-verify' %}"
    data-ballot-verify-hash-script-url="{% static 'verify-ballot-hash.py' %}"
    data-ballot-verify-chain-script-url="{% static 'verify-ballot-chain.py' %}"
    data-ballot-verify-audit-script-url="{% static 'verify-audit-log.py' %}"
  ></div>
{% endblock %}
