{% extends 'core/base.html' %}
{% load django_vite %}

{% block title %}Vote{% endblock %}

{% block extra_head %}
  {% vite_hmr_client %}
  {% vite_asset 'src/entrypoints/electionVote.ts' %}
{% endblock %}

{% block header %}
  <h1 class="m-0">Vote: {{ election.name }}</h1>
  <a class="btn btn-link px-0" href="{% url 'election-detail' election.id %}" title="Return to election details">Back to election detail</a>
{% endblock %}

{% block content %}
  <div
    data-election-vote-root
    data-election-vote-api-url="{% url 'api-election-vote' election.id %}"
    data-election-vote-detail-url-template="{{ election_detail_url_template }}"
    data-election-vote-verify-url="{{ ballot_verify_url }}"
  ></div>
{% endblock %}
