{% extends 'core/base.html' %}
{% load django_vite static %}

{% block title %}Election Turnout Report{% endblock %}

{% block header %}
  <div class="d-flex align-items-center justify-content-between">
    <h1 class="m-0">Election turnout report</h1>
    <a class="btn btn-outline-secondary" href="{% url 'elections' %}" title="Back to elections">Back to elections</a>
  </div>
{% endblock %}

{% block extra_head %}
  {% vite_hmr_client %}
  {% vite_asset 'src/entrypoints/electionsTurnoutReport.ts' %}
{% endblock %}

{% block content %}
  <div
    data-elections-turnout-report-root
    data-elections-turnout-report-api-url="{% url 'api-elections-turnout-report-detail' %}"
    data-elections-turnout-report-elections-url="{% url 'elections' %}"
    data-elections-turnout-report-election-detail-url-template="{{ election_detail_url_template }}"
  ></div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'core/vendor/chartjs/chart.umd.min.js' %}"></script>
{% endblock %}
