{% extends 'core/base.html' %}
{% load django_vite %}

{% block title %}Elections{% endblock %}

{% block extra_head %}
  {{ block.super }}
  {% vite_hmr_client %}
  {% vite_asset 'src/entrypoints/elections.ts' %}
{% endblock %}

{% block header %}
  <div class="d-flex align-items-center justify-content-between">
    <h1 class="m-0">Elections</h1>
    {% if can_manage_elections %}
      <div class="btn-group">
        <a class="btn btn-outline-secondary" href="{% url 'elections-turnout-report' %}" title="View turnout metrics across elections">Turnout report</a>
        <a class="btn btn-primary" href="{% url 'election-edit' 0 %}" title="Create a new election">New election</a>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <div
    data-elections-root
    data-elections-api-url="{% url 'api-elections' %}"
    data-elections-detail-url-template="{{ election_detail_url_template }}"
    data-elections-edit-url-template="{{ election_edit_url_template }}"
  ></div>
{% endblock %}
