{% extends "core/base.html" %}
{% load static %}
{% load django_vite %}

{% block title %}{% if is_create %}New template{% else %}Edit template{% endif %}{% endblock %}

{% block extra_head %}
  {{ block.super }}
  {% vite_hmr_client %}
  {% vite_asset 'src/entrypoints/emailTemplateEditor.ts' %}
  {% include 'core/_templated_email_compose_assets_head.html' %}
{% endblock %}

{% block header %}
  <h1 class="m-0">{% if is_create %}New template{% else %}Edit template{% endif %}</h1>
{% endblock %}

{% block content %}
  <div
    data-email-template-editor-root=""
    data-email-template-editor-api-url="{{ email_template_editor_api_url }}"
    data-email-template-list-url="{{ email_template_list_url }}"
    data-email-template-submit-url="{{ email_template_submit_url }}"
    data-email-template-preview-url="{{ email_template_preview_url }}"
    {% if email_template_delete_url %}data-email-template-delete-url="{{ email_template_delete_url }}"{% endif %}
    data-email-template-csrf-token="{{ csrf_token }}"
  >
    {{ email_template_editor_initial_payload|json_script:"email-template-editor-initial-payload" }}
    <div class="text-muted">Loading template editor...</div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% include 'core/_templated_email_compose_assets_scripts.html' %}
{% endblock %}
