{% extends "core/base.html" %}

{% load django_vite %}

{% block title %}Templates{% endblock %}

{% block extra_head %}
  {{ block.super }}
  {% vite_hmr_client %}
  {% vite_asset 'src/entrypoints/emailTemplates.ts' %}
{% endblock %}

{% block header %}
  <h1 class="m-0">Templates</h1>
{% endblock %}

{% block content %}
  <div
    data-email-templates-root=""
    data-email-templates-api-url="{{ email_templates_api_url }}"
    data-email-template-create-url="{{ email_template_create_url }}"
    data-email-template-edit-url-template="{{ email_template_edit_url_template }}"
    data-email-template-delete-url-template="{{ email_template_delete_url_template }}"
    data-email-template-csrf-token="{{ csrf_token }}"
  >
    {{ email_templates_initial_payload|json_script:"email-templates-initial-payload" }}
    <div class="text-muted">Loading templates...</div>
  </div>
{% endblock %}
