{% extends 'core/base.html' %}
{% load django_vite static %}

{% block title %}Edit {{ group.cn }}{% endblock %}

{% block extra_head %}
  {{ block.super }}
  {% vite_hmr_client %}
  {% vite_asset 'src/entrypoints/groupForm.ts' %}
  <script src="{% static 'core/js/chat_channels_editor.js' %}"></script>
{% endblock %}

{% block header %}
  <div class="d-flex align-items-center justify-content-between flex-wrap" style="gap: .5rem;">
    <h1 class="m-0">Edit group: {{ group.cn }}</h1>
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'group-detail' group.cn %}" title="Return to group details">
      <i class="fas fa-arrow-left mr-1"></i> Back
    </a>
  </div>
{% endblock %}

{% block content %}
  <div
    data-group-form-root
    data-group-form-api-url="{% url 'api-group-edit' group.cn %}"
    data-group-form-detail-url="{% url 'group-detail' group.cn %}"
    data-group-form-chat-mattermost-default-server="{{ chat_mattermost_default_server }}"
    data-group-form-chat-mattermost-default-team="{{ chat_mattermost_default_team }}"
    data-group-form-chat-irc-default-server="{{ chat_irc_default_server }}"
    data-group-form-chat-matrix-default-server="{{ chat_matrix_default_server }}"
  >
    <div class="text-muted">Loading group editor...</div>
  </div>
{% endblock %}
