{% extends 'core/base.html' %}
{% load django_vite %}

{% block title %}Groups{% endblock %}

{% block extra_head %}
  {{ block.super }}
  {% vite_hmr_client %}
  {% vite_asset 'src/entrypoints/groups.ts' %}
{% endblock %}

{% block header %}<h1 class="m-0">Groups</h1>{% endblock %}

{% block content %}
  <div
    data-groups-root
    data-groups-api-url="{% url 'api-groups' %}"
    data-groups-detail-url-template="{{ group_detail_url_template }}"
  >
    <div class="text-muted">Loading groups...</div>
  </div>
{% endblock %}
