{% extends 'core/base.html' %}
{% load django_vite %}

{% block title %}Group {{ group.cn }}{% endblock %}

{% block extra_head %}
  {{ block.super }}
  {% vite_hmr_client %}
  {% vite_asset 'src/entrypoints/groupDetail.ts' %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <div
    data-group-detail-root
    data-group-detail-info-api-url="{% url 'api-group-detail-info' group.cn %}"
    data-group-detail-leaders-api-url="{% url 'api-group-detail-leaders' group.cn %}"
    data-group-detail-members-api-url="{% url 'api-group-detail-members' group.cn %}"
    data-group-detail-action-url="{% url 'api-group-action' group.cn %}"
    data-group-detail-current-username="{{ request.user.get_username }}"
  >
    <div class="text-muted">Loading group details...</div>
  </div>
{% endblock %}
