{% extends 'core/base.html' %}
{% load django_vite %}

{% block title %}Organizations{% endblock %}

{% block extra_head %}
  {{ block.super }}
  {% vite_hmr_client %}
  {% vite_asset 'src/entrypoints/organizations.ts' %}
{% endblock %}

{% block header %}
  <h1 class="m-0">Organizations</h1>
{% endblock %}

{% block content %}
  <div
    data-organizations-root
    data-organizations-api-url="{% url 'api-organizations' %}"
    data-organizations-detail-url-template="{{ organization_detail_url_template }}"
    data-organizations-create-url="{{ organization_create_url }}"
  >
    <div class="text-muted">Loading organizations...</div>
  </div>
{% endblock %}
