{% extends 'core/base.html' %}

{% block title %}Organizations{% endblock %}

{% block header %}
  <h1 class="m-0">Organizations</h1>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <div class="d-flex align-items-center justify-content-between" style="gap: .75rem;">
        <a href="{{ create_url|default:'' }}" class="btn btn-primary" title="Create a new organization">Create organization</a>

        {% include 'core/_search_form.html' with search_value=q search_placeholder="Search" search_aria_label="Search organizations" search_submit_title="Search organizations" %}
      </div>
    </div>
    <div class="card-body">
      <div class="alert alert-info">
        Create an organization profile only if you are an employee or authorized representative of the organization applying to sponsor AlmaLinux.
      </div>
      {% include "core/_widget_grid.html" with grid_items=grid_items paginator=paginator page_obj=page_obj is_paginated=is_paginated page_numbers=page_numbers show_first=show_first show_last=show_last page_url_prefix=page_url_prefix empty_label=empty_label %}
    </div>
  </div>
{% endblock %}
