{% extends 'core/base.html' %}

{% load django_vite %}

{% block title %}Activate your account{% endblock %}

{% block extra_head %}
  {{ block.super }}
  {% vite_hmr_client %}
  {% vite_asset 'src/entrypoints/registration.ts' %}
{% endblock %}

{% block header %}<h1 class="m-0">Activate your account</h1>{% endblock %}

{% block content %}
<div
  data-register-activate-root=""
  data-register-activate-api-url="{{ register_activate_api_url }}"
  data-register-activate-submit-url="{{ register_activate_submit_url }}"
  data-register-activate-start-over-url="{{ register_activate_start_over_url }}"
  data-register-activate-csrf-token="{{ register_activate_csrf_token }}"
>
  <script type="application/json" data-registration-initial-payload>{{ register_activate_initial_payload_json|safe }}</script>
  <div class="text-muted">Loading activation form...</div>
</div>
{% endblock %}
