{% extends 'core/base.html' %}

{% load django_vite %}

{% block title %}Create account{% endblock %}

{% block extra_head %}
  {{ block.super }}
  {% vite_hmr_client %}
  {% vite_asset 'src/entrypoints/registration.ts' %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div
  data-register-root=""
  data-register-api-url="{{ register_api_url }}"
  data-register-login-url="{{ register_login_url }}"
  data-register-register-url="{{ register_register_url }}"
  data-register-submit-url="{{ register_submit_url }}"
  data-register-csrf-token="{{ register_csrf_token }}"
>
  <script type="application/json" data-registration-initial-payload>{{ register_initial_payload_json|safe }}</script>
  <div class="text-muted">Loading registration form...</div>
</div>
{% endblock %}
