{% extends 'core/base.html' %}
{% load django_vite %}

{% block title %}Sponsors{% endblock %}

{% block extra_head %}
  {{ block.super }}
  {% vite_hmr_client %}
  {% vite_asset 'src/entrypoints/membershipSponsors.ts' %}
{% endblock %}

{% block header %}
  <h1 class="m-0">Sponsors</h1>
{% endblock %}

{% block content %}
  <div
    data-membership-sponsors-root
    data-membership-sponsors-api-url="{% url 'api-membership-sponsors' %}"
    data-membership-sponsors-page-size="25"
    data-membership-sponsors-initial-q="{{ initial_q }}"
    data-membership-sponsors-organization-detail-url-template="{{ organization_detail_url_template }}"
    data-membership-sponsors-user-profile-url-template="{{ user_profile_url_template }}"
  ></div>
{% endblock %}
