{% extends 'core/base.html' %}

{% load core_user_grid %}

{% block title %}Users{% endblock %}

{% block header %}
  <h1 class="m-0">Users</h1>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <div class="card-tools">
        {% include 'core/_search_form.html' with search_value=q search_placeholder="Search users..." search_aria_label="Search users" search_submit_title="Search users" %}
      </div>
    </div>

    <div class="card-body">
      {% user_grid users=users %}
    </div>
  </div>
{% endblock %}
