{% extends 'core/base.html' %}

{% load django_vite %}

{% block title %}User profile{% endblock %}

{% block extra_head %}
  {{ block.super }}
  {% vite_hmr_client %}
  {% vite_asset 'src/entrypoints/userProfile.ts' %}
{% endblock %}

{% block content %}
<div class="profile-page">
  <div
    data-user-profile-root
    data-user-profile-api-url="{% url 'api-user-profile' profile_username %}"
    data-user-profile-settings-profile-url="{{ settings_profile_url }}"
    data-user-profile-settings-country-code-url="{{ settings_country_code_url }}"
    data-user-profile-settings-emails-url="{{ settings_emails_url }}"
    data-user-profile-membership-history-url-template="{{ membership_history_url_template }}"
    data-user-profile-membership-request-url="{{ membership_request_url }}"
    data-user-profile-membership-request-detail-url-template="{{ membership_request_detail_url_template }}"
    data-user-profile-group-detail-url-template="{{ group_detail_url_template }}"
    data-user-profile-agreements-url-template="{{ agreements_url_template }}"
  ></div>
</div>
{% endblock %}